html {
    width: 80%;
    margin: 5em auto;
    font-family: ff-chambers-sans-web, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.todobox{
    text-align: center;
    display:flex;
    flex-direction: column;
    border-style:solid; 
    justify-content: center;
    border-width:1.5px; 
    border-color:#B665C4; 
    padding:10px; 
    padding-bottom:30px; 
    background-color: #B665C4;
}

#sort{
    border-radius: 5px;
    background-color: rgb(236, 179, 255);
}

h1{
    color:aliceblue; 
    
}

ul{
    margin: 0;
    padding: 0;
}

li{
    background: #F3E5F5;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    border-bottom: 1px solid #BA68C8;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
}
button{
   float:right; 
    background-color:rgb(183, 115, 255); 
    color:rgb(255, 255, 255); 
}
body{
 background: #F3E5F5;
}
#todos{
    text-align:left; 

}
#sort{
    text-align: center;
    width: 200px;
    align-self: center;}
@media screen and (max-width: 605px){
    #name{
    text-align: center;
    font-size: large;
   
    
}}
